#container {
    display: grid;
    place-items: center;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid;
    border-radius: 1cm;
    width: 90%;
    max-width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    font-size: 1rem;
    position: relative;
    bottom: 25px;
}

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

#head h2 {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    font-size: 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    flex-wrap: wrap;
}

#header h1 {
    margin: 0 auto;
    font-size: 2rem;
    text-align: center;
}

#link {
    text-decoration: none;
    color: #0b7df8;
    position: fixed;
    right: 10px;
    top: 20px;
    font-size: 1.2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#link:hover {
    color: red;
}

#form input[type='text'] {
    border: 2px solid #999;
    border-radius: 10px;
    background-color: rgb(231, 149, 176);
    padding: 0.6rem 1rem;
    margin-top: 1rem;
    font-weight: 400;
    color: rgb(243, 6, 6);
    font-size: 1rem;
    width: 70%;
    max-width: 500px;
    box-sizing: border-box;
    outline: none;
}

#form input[type='text']::placeholder {
    color: rgba(243, 6, 6, 0.6);
}

#form input[type='submit'] {
    margin-top: 1rem;
    border: 3px solid;
    border-radius: 3cm;
    background-color: gainsboro;
    color: green;
    font-size: 1rem;
    padding: 0.6rem ;
    
    max-width: 300px;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

#form input[type='submit']:hover {
    background-color: rgb(128, 255, 0);
    color: black;
}

#container {
    display: grid;
    place-items: center;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid;
    border-radius: 1cm;
    width: 90%;
    max-width: 500px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    font-size: 1rem;
    position: relative;
    bottom: 25px;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
    bottom: 50px;
}

@media (max-width: 600px) {
    #header h1 {
        font-size: 1.5rem;
    }

    #link {
        font-size: 1rem;
        top: 10px;
        right: 5px;
    }

    #form input[type='text'],
    #form input[type='submit'] {
        width: 90%;
        max-width: 90%;
        font-size: 1rem;
    }
}
